<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-8">
                <h2>{{selectedDocument.name}}</h2>
            </div>

            <div class="btn-toolbar pull-right" style="margin-top: 15px; margin-right: 10px;">
                <a type="button" class="btn btn-primary btn-md" (click)="onViewClick()">View</a>
                <a type="button" class="btn btn-primary btn-md" (click)="onEditDetails()">Edit</a>
                <a type="button" class="btn btn-danger btn-md" (click)="onDeleteClick()">Delete</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <label>Description:</label>
                <span class="label-value">{{selectedDocument.description}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label>URL:</label>
                <a class="label-value" href="{{selectedDocument.url}}">{{selectedDocument.url}}</a>
            </div>
        </div>
    </div>
</div>